<?xml version='1.0' encoding='utf-8'?>
<widget id="com.alcoder.BidiMobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BidiMobile</name>
    <description>
        This application is a mobile client for searching locations in the main Bidi Group Cleaning Record Management System.
    </description>
    <author email="adjeteyadjei@live.com" href="http://adjetey7.wordpress.com">
        AlCoder
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
