<ion-view title="About">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header padding">
    <div class="list card">

        <div class="item item-avatar">
          <img src="images/bidilogo.png" style="height: 40px;max-width: 100px;">
          <h2 style="margin-left: 50px;">Bidi Cleaning Records System</h2>
          <p style="margin-left: 50px;">Mobile Client [Location Info Track]</p>
        </div>

        <div class="item item-body">
          <!-- <img class="full-image" src="/img/docs/delorean.jpg"> -->
          <p>
          	This application is a mobile client for searching locations in the main Bidi Group Cleaning Record Management System.
          </p>
          <p>
            &copy 2014 <span>ALCoder Inc.</span>
          </p>
        </div>
      </div>
  </ion-content>
</ion-view>
